[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[pipenv]
sort_pipfile = true

[packages]
address-parser = {git = "git+https://github.com/005-bot/address-parser"}
apis = {git = "https://github.com/005-bot/apis"}
bs4 = "~=0.0"
httpx = "~=0.27"
pydantic = "*"
redis = "~=5.1"

[dev-packages]
black = "*"
flake8 = "*"
flake8-bugbear = "*"
pytest = "*"
pytest-asyncio = "*"

[requires]
python_version = "3"
